/16_01/nbproject/private/
/16_01/build/
/16_02_Bank/nbproject/private/
/16_02_Bank/build/
/17_02_Tomb_visitorral/nbproject/private/
/17_02_Tomb_visitorral/build/
/17_03_Hapburg/nbproject/private/
/17_03_Hapburg/build/
/18_01_tomb/nbproject/private/
/18_01_tomb/build/
/18_2_leszarmazottak/nbproject/private/
/18_2_leszarmazottak/build/
/19_1_ehetoe/nbproject/private/
/19_1_ehetoe/build/
/19_02_LemondasiDij/nbproject/private/
/19_02_LemondasiDij/build/
/19_03_Vakacio/nbproject/private/
/19_03_Vakacio/build/
/19_3_Vakacio/nbproject/private/
/19_3_Vakacio/build/
/20_01_Ehetoe/nbproject/private/
/20_01_Ehetoe/build/
/20_2_LemondasiDij/nbproject/private/
/20_2_LemondasiDij/build/
/20_3_Vakacio/nbproject/private/
/20_3_Vakacio/build/
/Proba/nbproject/private/
/21_1_Ehetoe/nbproject/private/
/21_1_Ehetoe/build/
/21_2_LemondasiDij/nbproject/private/
/21_2_LemondasiDij/build/
/201_3_Vakacio/nbproject/private/
/201_3_Vakacio/build/
/22_1_Feltetel/nbproject/private/
/22_1_Feltetel/build/